

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="  https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<script src="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"></script>
<script src="~/Scripts/DetalleSeccion.js"></script>

<div class="col-lg-9">
    Hello motherfuckerss
</div>