@model procesos_app.Models.MotherOfModels

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Prueba.cshtml";
}

<style>
    .Cont {
    color: #ff0000
    }

</style>

<div class=" Cont">
<ul>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
    <li>adsasd</li>
</ul>    


</div>

@section Scripts {

<script src="~/Scripts/Estudiante.js"></script>

}

