<!DOCTYPE html>
<html ng-app="procesos_pa" ng-controller="LandingPageController">
<head>
    <title></title>
</head>
<body>
    <input type="text" ng-model="models.message" />
    <h1>{{models.message}}</h1>
    <ul>
        <li><a href="/#!routeOne">Route One</a></li>
        <li><a href="/#!routeTwo">Route Two</a></li>
        <li><a href="/#!routeThree">Route Three</a></li>
    </ul>

    <div ng-view>

    </div>


</body>
</html>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/Procesos_paAngular")
