<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/AngularJS/jquery-3.2.1.min.js" type="text/javascript"> </script>
    <script src="~/Scripts/AngularJS/angular.min.js" type="text/javascript"> </script>
    <script src="~/Scripts/AngularJS/NgRoute.js" type="text/javascript"> </script>
    <script src="~/Scripts/AngularExecute.js" type="text/javascript"> </script>
    <script src="~/UI/Controllers/AddSubjectsController.js" type="text/javascript"> </script>
<body>
</head>
    <div>
        @RenderBody()
    </div>
</body>
</html>
